// custom variables
$primary: #5265E1;
$secondary: #FA5959;
$info: #1B2F59;

// import bootstrap files
@import '../node_modules/bootstrap/scss/bootstrap';


//breakpoints
$md_own: 576px;
$sm_own: 768px;
$lg_own: 992px;

//styles
@import './common';